html, body {
	font-size:12px; 
	line-height:18px;
	height: 100%;
 }
body {background: #f9f9f9 url(../images/blackorchid.png);}

.main-container {
	height:auto; 
	height: 100%;
	min-height: 100%;
}

@media (max-width: 767px) {
  body { padding-right: 0px; padding-left: 0px; }
  .container {margin-right: 20px; margin-left: 20px;}
 }

/***** Titles and Headings *****/
h1, h2, h3, h4 , h5, h6 {
	font-family: "Lato", Arial, sans-serif;
	font-weight: normal;
	color: #61dbff;
}	

/********* SEARCH BAR ************/
#search {
    width: 40%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    background-image: url('search.png');
    display: block;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 25px;
    padding: 10px;
    color: #777;
    background: url("images/search.png");
    background: rgba(0, 0, 0, 0.4);
}

#search:focus {
    width: 60%;
    color: #888;
}


.topnav {
	width: 100%;
	height: 80px;
	position: fixed;
	background-color: #111;
	overflow: hidden;
	top: 0;
}

/*----------nav bar--------*/

.main {
    /*margin-left: 160px;  Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    margin: auto;
    margin-top: 80px;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 0px;
}

.sidenav button {
    color: #818181;
    font-family: "Lato", Arial, sans-serif;
    padding: 9px 8px 6px 16px;
    background: none;
    border: none;
    outline: none;
    font-size: 25px;
}

.submenu {
	display: none;
}

.submenu button, .smallButton button {
	font-size: 20px;
	margin-left: 10px;
}

.sidenav button:hover {
    color: #61dbff;
}

#initSubMenu {
	display: block;
}

#bottom {
	position: absolute;
	bottom: 4%;
}

/*-------- SONG TABLE ------------*/
.songRow {
    font-size: 22px;
    color: #818181;
    background-color: rgba(50,50,50,0.2);
    border: 15px solid rgba(50,50,50,0);
}

.songHeader {
    font-size: 24px;
    color: #818181;
    background-color: rgba(50,50,50,0.3);
    border-top: 15px solid rgba(50,50,50,0);
    border-left: 15px solid rgba(50,50,50,0);
    border-right: 15px solid rgba(50,50,50,0);
    text-align: left;
}

.timeLabel, .ratingLabel {
    margin: 20px;
    font-size: 20px;
}

.songRow:hover {
    background-color: rgba(50,50,50,0.3);
}

.nameColumn {
    padding-right: 250px;
}

.artistColumn {
    padding-right: 100px;
}

.albumColumn {
    padding-right: 80px;
}

/*----------DROPDOWN STUFF------------*/
.dropDown {
    display: inline-block;
    position: relative;
}

.dropDownButton {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none;
    outline: none;
    font-size: 35px;
    color: #818181;
    background: none;
    border: none;
    padding-bottom: 10px;
}

.dropDownItem {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.pager {
    margin: auto;
    background: none;
    border: none;
    text-decoration: none;
}

/*----------------------------*/
#title {
    text-align: center;
    font-size: 50px;
}

h5.title-bg {
    font-size: 25px;
    padding: 10px 5px;
    margin: 0px 0px 20px 0px;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    color: #7f7f7f;
}

h2 small {
    font-size: 30px;
}

h5 small {
    font-size: 14px;
}

h6 small {
    font-size: 12px;
}

h5.title-bg button {
    float: right;
    text-transform: none;
    margin-left: 5px;
}

/***** Misc *****/
i {
    margin-right: 3px;
}

p {
    margin-bottom: 20px;
}

/**************************************
/ MISC
**************************************/
.row {margin-bottom:40px;}
.sub-row30 {margin-bottom:30px;}
.sub-row20 {margin-bottom:20px;}
.no-margin {margin-bottom:0px;}

a.accordion-toggle{background: #f5f5f5;}
.nav-tabs li.active a{background:#f8f8f8;}

@media only screen and  (max-width: 767px) {
	.btn {margin-bottom: 20px;}
}

.left {float: left;}
.right {float: right;}
.align-left{float: left; margin: 0px 20px 20px 0px;}
.align-right{float: right; margin: 0px 0px 20px 20px;}

.color-bg { background:#61dbff; }
.color { color: #61dbff; }
.color-bar-1, .color-bar-2 { width:100% }
.color-bar-1 { background:#414141; height:5px; }
.color-bar-2 { height:3px; }
.page-header { margin:0px }
.lead {line-height:28px; margin: 20px 0px 30px 0px; }